{% extends '1base.html' %}
{% block title %} Home {% endblock title %}
{% block section%} <h1>Tourism</h1>
{% endblock section%}
{% block body %}
<div class="page-template-default page page-id-41009 page-parent page-child parent-pageid-41007 g2hr-page g2hr- what-is-tourism sidebar-primary wpb-js-composer js-comp-ver-6.7.0 vc_responsive"
    role="document">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-hidden">
                <nav class="g2hr-side-page-navigation navbar">
                    <div class="g2hr-side-nav clearfix">
                        <span>
                            <h2>Tourism</h2>
                        </span>
                    </div>
                </nav>
            </div>

            <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                <article class="g2hr-inner-page">
                    <header class="clearfix">
                        <h1>What is Tourism?</h1>
                    </header>

                    <p>Although many of us have been “tourists” at some point in our lives, defining what tourism
                        actually is can be difficult. Tourism is the activities of people traveling to and staying in
                        places outside their usual environment for leisure, business or other purposes for not more than
                        one consecutive year.</p>
                    <p>Tourism is a dynamic and competitive industry that requires the ability to adapt constantly to
                        customers’ changing needs and desires, as the customer’s satisfaction, safety and enjoyment are
                        particularly the focus of tourism businesses.</p>
                    <h3>Tourism encompasses:</h3>
                    <p><strong>Outbound Tourism</strong><br>
                        Outbound tourism is what you may be most familiar with. It involves the people going from
                        British Columbia to other provinces, territories or countries. For example, going to Hawaii for
                        a holiday is considered outbound tourism.</p>
                    <p><strong>Inbound Tourism</strong><br>
                        The tourists coming to BC from other places are called inbound tourists. BC competes in a global
                        market to attract tourists from the United States, Japan, Germany and many other countries. The
                        industry also implements marketing campaigns aimed at attracting travellers from other parts of
                        Canada, as well as from within British Columbia.</p>
                    <p><strong>Domestic Tourism</strong><br>
                        Approximately half of the tourists in BC each year are actually from within the province.&nbsp;
                        BC Stats and Destination BC consider those travelling beyond their usual environment (typically
                        more than 80 km from home) for business or for pleasure to be tourists.</p>
                    <p><strong>Tourism Sectors</strong><br>
                        There are different ways to measure the size of the tourism industry, as tourism does not
                        conform to the usual ways that industries are defined, such as manufacturing, forestry and other
                        industries. Tourism constitutes a wide variety of sectors that provide diverse products and
                        services to visitors. However, these businesses also provide products and services to local
                        residents.</p>

                    <p>The tourism and hospitality industry in British Columbia employs 302,700 people on a full year
                        equivalent basis, in diverse sectors such as <b>transportation, travel services,recreation
                            andentertainment, accommodation and food and beverage services</b>.
                        The industry represents approximately 12% of the total BC workforce. Of these 302,700 workers,
                        approximately half (137,000) are employed directly as the result of the $18.4 billion in tourism
                        revenue in the province each year.
                    </p>
                    <p>When describing the “tourism industry,” go2HR includes all 302,700 workers, because this is the
                        number of people who need to be recruited and trained to support the businesses that serve both
                        tourists and local residents. Economic reports may focus more on the 137,000 jobs created by
                        direct tourism spending for different purposes. Both figures are correct.</p>
                </article>

            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</div>

{% endblock body %}